.foot {

    .flex10 {
        display: flex;
        justify-content: center;

        .slavar8 {

            h1 {
                color: #21232D;
                font-size: 36px;
            }

            .img7 {
                display: flex;
                justify-content: center;
            }
            
        }
    }
}