.second {

    .flex2 {
        display: flex;
        gap: 100px;

        .box {
            
            p {
                color: #666;
                font-size: 24px;
            }

            h1 {
                color: #25202F;
                font-size: 60px;
            }

            p {
                color: #7E7F86;
                font-size: 20px;
            }

            .btn {
                color: white;
                background-color: #8643DC;
                padding: 12px 40px;
                border: none;
                border-radius: 20px;
            }
        }
    }
}


@media (max-width:1024px) {
    .second {

        .flex2 {

            .box {

                p {
                    font-size: 20px;
                }

                h1 {
                    font-size: 55px;
                }

                .btn {
                    padding: 12px 40px;
                }
            }

            .foto {

                img {
                    width: 500px;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .second {

        .flex2 {

            .box {

                p {
                    font-size: 18px;
                }

                h1 {
                    font-size: 50px;
                }

                .btn {
                    padding: 10px 35px;
                }
            }

            .foto {

                img {
                    width: 450px;
                }
            }
        }
    }
}

@media (max-width:425px) {
    .second {

        .flex2 {
            flex-direction: column-reverse;
            text-align: center;

            .box {

                p {
                    font-size: 18px;
                }

                h1 {
                    font-size: 45px;
                }

                .btn {
                    padding: 10px 35px;
                }
            }

            .foto {

                img {
                    width: 400px;
                }
            }
        }
    }
}

@media (max-width:375px) {
    .second {

        .flex2 {
            flex-direction: column-reverse;
            text-align: center;

            .box {

                p {
                    font-size: 18px;
                }

                h1 {
                    font-size: 40px;
                }

                .btn {
                    padding: 10px 35px;
                }
            }

            .foto {

                img {
                    width: 350px;
                }
            }
        }
    }
}

@media (max-width:375px) {
    .second {

        .flex2 {
            flex-direction: column-reverse;
            text-align: center;

            .box {

                p {
                    font-size: 18px;
                }

                h1 {
                    font-size: 40px;
                }

                .btn {
                    padding: 10px 35px;
                }
            }

            .foto {

                img {
                    width: 300px;
                }
            }
        }
    }
}